{% extends 'miweb/base_person.html' %}
{% block content_person %}
<div class="breadcrumbs" id="breadcrumbs" style="margin-left: -30px; margin-top: -10px; margin-right: -20px;">
    <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/miweb/">主页</a>
        </li>

        <li>
            后台管理
        </li>

    </ul><!-- .链接 -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- #nav-search -->
</div>

<h3>欢迎使用图像检索系统后台管理。</h3>
<p>在這里，您可以<strong>设置修改个人信息</strong>，<strong>管理保存收藏、上传的图像</strong>，<strong>使用材料图像处理功能</strong>，并让我们<strong>为您的研究成果提供产权保护</strong>。</p>
<p>在這里，您可以<strong>学会更好的使用图像检索系统</strong>，并对我们的工作<strong>提出宝贵的意见</strong>。</p>

{% endblock %}