{% extends 'miweb/base.html' %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'miweb/css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}登陆&nbsp|&nbsp{% endblock %}
{% block content %}
    <div class="container">
        <form action="" method="post" class="form-signin" style="text-align: center;">
            {% csrf_token %}
            <h2 class="form-signin-heading">上海大学图像检索系统</h2>
            <label for="your_email" class="sr-only">Your name: </label>
            <input id="your_email" type="email" name="your_email" class="form-control" placeholder="邮箱">
            <label for="your_password" class="sr-only">Your password: </label>
            <input id="your_password" type="password" name="your_password" class="form-control" placeholder="密码">
            <h5 style="color: red;">{{ mess }}</h5>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
        <div style="max-width: 300px; text-align: center; margin: auto;">
            <button class="btn btn-lg btn-primary btn-block" style="width: 300px; text-align: center; margin-top: 30px;" onClick="location.href='/miweb/signup'">注册</button>
            <button class="btn btn-lg btn-primary btn-block" style="width: 300px; text-align: center;" onClick="location.href='/'">返回</button>
        </div>
    </div>
{% endblock %}